
#simp{	
	margin: 0 auto;
	padding:5px;
	background-color:#ccc;
	width:650px;
}
h1,h2{
	text-align:center;
	width:600px;	
	font-size:26px;
	color:#444444;
}

form>div{
	padding:10px;
	border: 2px solid yellow;
	margin:10px;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:24px;
	color:#444444;
}
label {
	background-color:lightgreen;
	text-align:left;
	width:600px;
	height:40px;		
	margin-top:12px;
	
}

input,textarea{
	background-color:white;
	margin-top:12px;
	width:600px;	
}
input{
	height:40px;
}

div:nth-last-child(2){
	flex-direction:row;
	}
.que-3 >input[type="radio"] ,label{
	height:30px;	
	background-color: yellow;
	cursor: pointer;
	
}
input, textarea:focus{
	background-color:lightyellow;
}
button{
	margin:0 auto;
}