bodt{
	
}
*{
	padding:10px;
	
}
h1,h2{
	text-align:center;
	width:600px;
	height:60px;
	font-size:26px;
	color:#444444;
}
#simp{	
	background-color:#ccc;
	width:650px;
}
form>div{
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:24px;
	color:#444444;
}
label {
	background-color:red;
	text-align:left;
	width:600px;
	height:40px;		
	margin-top:12px;
	
}

input,textarea{
	margin-top:12px;
	width:600px;	
}
input{
	height:40px;
}

.que-3{
	display:grid;
	grid-template-columns:150px 150px 150px 150px;
}
.que-3 >input[type="radio"] +label{
	
	width:100px;
	background-color: yellow;
	cursor: pointer;
	
}
input,textarea:focus{
	background-color:lightyellow;
}